.ios,.md{
    page-cadastro-page {
        #logo{
            width: 50px;
        }

        #btnCadastrar{
            
            margin-top: 10px;
        }

        #imgFooter{
            width: 83%;
            margin-top: -2px;
            margin-left: -15px;
        }

    }

}
